{% extends 'base.html' %}
<title>{% block title %}Reservations{% endblock %}</title>
{% block content %}
<div class="container">
  <div class="row" style="height: 50px;"></div>
  <div class="row">
    <div class="col-md-12">
      <a class="btn btn-info" href="{% url 'reservations' 'all' %}">TODOS</a>
      <a class="btn btn-primary" href="{% url 'reservations' 'ACTIVA' %}">ACTIVA</a>
      <a class="btn btn-success" href="{% url 'reservations' 'RESERVADA' %}">RESERVADA</a>
      <a class="btn btn-secondary" href="{% url 'reservations' 'INACTIVA' %}">INACTIVA</a>
    </div>

  </div>
  <div class="row">
    <div class="col-md-12">
      <table class="table table-striped table-sm">
        <thead>
          <tr class="table-success">
            <th scope="col">#</th>
            <th scope="col">Nombre</th>
            <th scope="col">Hotel</th>
              <th scope="col">Habitación</th>
              <th scope="col">Capacidad</th>
              <th scope="col">Entrada</th>
              <th scope="col">Salida</th>
            <th scope="col">Fecha de Reserva</th>
              <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
        {% for reservation in reservations %}
          <tr>
            <th scope="row">{{reservation.id}}</th>
            <td>{{reservation.user.first_name}} {{reservation.user.last_name}}</td>
            <td>{{reservation.reserved_room.hotel.name}}</td>
              <td>{{reservation.reserved_room.number_room}}</td>
              <td>{{reservation.reserved_room.capacity}}</td>
              <td>{{reservation.date_of_enter}}</td>
              <td>{{reservation.date_of_exit}}</td>
              <td>{{reservation.created}}</td>
            <td>
              <a class="text-warning" href="{% url 'detail_reservation' reservation.id %}"><small>DETALLES</small></a><small> |</small>
              {%if reservation.status == 'INACTIVA'%}
              <a class="text-secondary" href="{% url 'reservations' reservation.status %}"><small>{{reservation.status}}</small></a>
              {%elif reservation.status == 'ACTIVA'%}
              <a class="text-primary" href="{% url 'reservations' reservation.status %}"><small>{{reservation.status}}</small></a>
              {%else%}
              <a class="text-success" href="{% url 'reservations' reservation.status %}"><small>{{reservation.status}}</small></a>
              {%endif%}
            <td>
            </td>
          </tr>
        {% endfor%}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="height: 50px;"></div>
</div>

{% endblock %}
