{% extends 'base.html' %}
{% load crispy_forms_tags %}
<title>{% block title %}Form Hotel{% endblock %}</title>
{% block content %}
<div class="container">
    <div class="alert alert-success" role="alert">
       <form class="" method="post">
        {% csrf_token %}
        <div class="form-row">
            <div class="form-group col-md-6">
                {{form.name|as_crispy_field}}
            </div>
            <div class="form-group col-md-6">
                {{form.location|as_crispy_field}}
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                {{form.description|as_crispy_field}}
            </div>
            <div class="form-group col-md-6">
                {{form.picture|as_crispy_field}}
                {{form.active|as_crispy_field}}
            </div>
        </div>
        <input class="btn btn-success" type="submit" value="Submit">
    </form>
    </div>
</div>
{% endblock %}
