{% extends 'base.html' %}
<title>{% block title %}Home{% endblock %}</title>
{% block content %}
<div class="container">
  <div class="alert alert-success" role="alert">
    <form method="GET" action=".">
    <div class="form-row ">
          <div class="form-group col-md-3">
              <label for="id_location_room">Ubicación:</label>
              <input type="text" name="location_room" maxlength="50" id="id_location_room" class="form-control">
          </div>
          <div class="form-group col-md-3">
            <label for="id_capacity_room">Cantidad de Personas:</label>
            <select name="capacity_room" id="id_capacity_room" class="form-control">
              <option value=""></option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
            </select>
          </div>
          <div class="form-group col-md-3">
            <label >Fecha de Entrada</label>
              <input type="date" name="date_in" id="date_in" max="{{max_day}}" min="{{today}}" class="form-control">
          </div>
          <div class="form-group col-md-3">
            <label >Fecha de Salida</label>
            <input type="date" name="date_out" id="date_out" max="{{max_day}}" min="{{today}}" class="form-control">
          </div>
        </div>
    <button type="submit" class="btn btn-success">Busqueda</button>
            {% if user.is_staff %}
            <a class="btn btn-success" href="{% url 'reservations' 'all'%}"><small>RESERVAS</small>
            <span class="badge badge-light">{{qt_reservations}}</span>
                {% endif %}
        </a>
  </form>
  </div>

</div>

<div class="container">
  <div class="row">
    {% for room in rooms %}
    <div class="col-12">
      <div class="card mb-2 border-success">
          <div class="row">
              <div class="col-md-3">
                   <div class="card-body">
                  <img src={{room.picture}} class="card-img" alt="Card image" style="height: 303px">
                   </div>
              </div>
              <div class="col-md-9">
                  <div class="card-body">
                      <div class="row alert alert-success">
                          <div class="col-md-6">
                              <h5 class="card-title text-uppercase">{{room.hotel.name}}</h5>
                          </div>
                      </div>
                      <div class="row ">
                          <div class="col-md-7 alert alert-secondary">
                              <p class="card-text text-justify"><small>{{room.hotel.description}}</small></p>
                              <a class="btn btn-success"href="{% url 'reservation' room.id %}">RESERVAR</a>
                          </div>
                          <div class="col-md-1">
                          </div>
                          <div class="col-md-4 alert alert-secondary">
                              <p class="card-title text-uppercase"><small class="font-weight-bold">ubicación: </small>{{room.hotel.location|capfirst }}</p>
                              <p class="card-title text-uppercase"><small class="font-weight-bold">precio: </small>{{room.price}}</p>
                              <p class="card-title text-uppercase"><small class="font-weight-bold">No. Habitación: </small>{{room.number_room}}</p>
                              <p class="card-title text-uppercase"><small class="font-weight-bold">No. Habitación: </small>{{room.capacity}}</p>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                   <div class="card-body">
                       <div class="alert alert-secondary">
                           <form method="POST" action=".">
                               <div class="form-group">
                                   {% csrf_token %}
                                   <input type="text" class="form-control" id="user" name="user"  value={{user.id}} hidden>
                                   <input type="text" class="form-control" id="room" name="room"  value={{room.id}} hidden>
                                   <label for="id_comentary">Comentario:</label>
                                   <textarea class="form-control" rows="3" name="comentary" id="id_comentary"></textarea>
                               </div>
                               <button type="submit" class="btn btn-success"><small>COMENTAR</small></button>
                           </form>
                       </div>
                   </div>
              </div>
              <div class="col-md-5">
                  <label for="id_comentary">Comentarios:</label>
                  {%for comentary in room.comments%}
                  <div class="row">
                      <div class="card-body">
                          <div class="alert alert-secondary">
                              <p class="card-text text-justify"><small>{{comentary}}</small></p>
                          </div>
                      </div>
                  </div>
                  {%endfor%}
              </div>
          </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
