{% extends 'base.html' %}
<title>{% block title %}Home{% endblock %}</title>
{% block content %}

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <h1>Lista de Hoteles</h1>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    {% for hotel in object_list %}
    <div class="col">
      <div class="card mb-2 border-success" style="width: 1080px; height: 275px;">
        <div class="row">
          <div class="col-md-3">
            <a href="{% url 'detail_hotel' hotel.id %}" role="button">
              <img src={{hotel.picture}} class="card-img" alt="Card image" style="height: 273px">
            </a>
          </div>
          <div class="col-md-9">
             <div class="card-body">
               <h5 class="card-title">{{hotel.name}} - {{hotel.location}}</h5>
               <p class="card-text"><small>{{hotel.description}}</small></p>
               {% if user.is_staff %}
               <a class="text-success"href="{% url 'update_hotel' hotel.id %}">Editar</a> |
               <a class="text-danger" href="{% url 'delete_hotel' hotel.id %}">Borrar</a>
               {%endif%}
             </div>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
